<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanos.secretspace">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecretSpace"
        android:usesCleartextTraffic="true">
        <activity android:name=".UrlActivity"></activity>
        <activity android:name=".WinActivity" />
        <activity android:name=".QuizFourthLevel" />
        <activity android:name=".GameFourthLevel" />
        <activity android:name=".QuizThirdLevel" />
        <activity android:name=".GameThirdLevel" />
        <activity android:name=".QuizSecondLevel" />
        <activity android:name=".GameSecondLevel" />
        <activity android:name=".QuizFirstLevel" />
        <activity android:name=".GameFirstLevel" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>